<div id="resume">
  <div id="resume-text">
    <div id="resume-title">
      <h1>Resume</h1>
    </div><!--resume-title-->

  <!--Profile-->
    <section class="resume-section">
      <div class="sectionTitle">
        <h2>Profile</h2>
      </div>
      <div class="sectionContent">
        <article>
          <p>I am an experienced, mostly self-taught web developer who worked in customer service in a previous life.
             I live in beautiful Tacoma, Washington</p>

          <p>I switched careers in 2014 because I realized I was happiest and most engaged at work when I was learning
             a new procedure or picking up a new skill. It is impossible to avoid learning new things as a web
             developer and so far the switch has been perfect for me.</p>

          <p>I love helping people and empowering them to make their lives easier using technology, whether that takes the form
             of writing the code to make that happen or providing caring and compassionate customer service to help people through
             the rough spots.</p>

          <p>I am currently looking for a full-time remote Ruby on Rails developer or support programmer job.</p>
        </article>
      </div>
    </section>

  <!--Skills -->
    <section class="resume-section">
      <div class="sectionTitle">
        <h2>Skills</h2>
      </div>
      <div class="sectionContent">
        <ul class="keySkills">
          <li class="padded-skills">Ruby</li>
          <li class="padded-skills">Rails</li>
          <li class="padded-skills">AngularJS</li>
          <li class="padded-skills">Zurb Foundation</li>
          <li class="padded-skills">Squarespace Customization</li>
          <li class="padded-skills">Rails Upgrades</li>
          <li class="padded-skills">MYSQL</li>
          <li class="padded-skills">Client Communication</li>
          <li class="padded-skills">Git</li>
        </ul>
      </div>
    </section>

  <!--WORK-->
    <section class="resume-section">
      <div class="sectionTitle"><h2>Work Experience</h2></div>
      <div class="sectionContent">

        <article>
          <h3>Freelance Web Developer</h3>
          <p class="subDetails">April 2014 - Present</p>
            <ul>
              <li class="padded">Work for a wide range of clients doing Ruby on Rails development, static website design/setup, and Squarespace setup and customization (see projects section)</li>
              <li class="padded">Use Git version control to facilitate working with designers and other developers</li>
              <li class="padded">Built several new analytic tools to assist clients in crunching complex user-submitted data</li>
              <li class="padded">Converted sections of a business-facing CMS from KnockoutJS to AngularJS</li>
              <li class="padded">Upgraded two Ruby on Rails apps from 3.x to 4.2</li>
            </ul>
        </article>

        <article>
          <h3>Administrative Specialist II at King County Elections</h3>
          <p class="subDetails">June 2012 - January 2014, Sept - December 2016</p>
          <ul>
            <li class="padded">Registered voters in person in the days leading up to the 2016 election</li>
            <li class="padded">Completed voter registration updates and answered questions about Washington's voting laws via email</li>
            <li class="padded">Provided calm and compassionate customer service to people from all walks of life in a fast-paced, high stress environment</li>
          </ul>
        </article>

        <article>
          <h3>Lead Instructor at Coding With Kids</h3>
          <p class="subDetails">Jan - Sept 2015</p>
            <ul>
              <li class="padded">Taught computer science fundamentals and basic web development to kids in grades K-8 using MIT’s Scratch program and Javascript/HTML/CSS</li>
            </ul>
        </article>

        <article>
          <h3>Alternative Music Director at KUPS</h3>
          <p class="subDetails">June 2008 - May 2010</p>
            <ul>
              <li class="padded">Hired and managed a team of around 30 student DJs</li>
            </ul>
        </article>
      </div><!--work sectionContent-->
    </section>

    <!--education-->
      <section class="resume-section">
        <div class="sectionTitle">
          <h2>Education</h2>
        </div>
        <div class="sectionContent">
          <article>
            <h3>Bachelor of Arts in International Political Economy</h3>
              <p class="subDetails2">University of Puget Sound</p>
          </article>
        </div>
      </section>

    <!--ACHIEVEMENTS-->
    <section class="resume-section">
      <div class="sectionTitle"><h2>Achievements</h2></div>
      <div class="sectionContent">
        <article>
          <p label="achievement-top">Selected to be a panelist on the Music Director Summit at the 2009 College Music Journal conference</p>
          <p label="achievement-bottom">KUPS won the 2009 MTVu Woodie Award for Best College Radio Station</p>
        </article>
      </div><!--achievements sectionContent-->
    </section>
  </div><!--resume-text-->
  <div class="download-link">
    <a href="https://s3-us-west-2.amazonaws.com/kaylamorrisonportfolio/howser-resume-3-3-17.pdf">
        Click here to download the 1-page version
      </div>
    </a>
  </div>
</div><!--resume-->
