<div id='cssmenu'>
  <ul>
    <li><%=link_to 'Home', root_path %></li>
    <li><a href="/resume">Resume</a></li>
    <li class='active'><%=link_to "Projects", projects_path %></li>
    <li><%=link_to "Blog", blogs_path %></li>
    <li class='last'><%=link_to "Contact", new_contact_path %></li>
  </ul>
</div>

<div id="thanks">Thanks for contacting me, I will be in touch shortly.</div>

<div id="checkout">In the meantime, please feel free to check out my</div>

<!-- <div id="social">
  <div id="github">Github</div>
  <div id="or">or</div>
  <div id="llinkedin">LinkedIn</div>
</div> -->

<ul id="social">
  <li class="item" id="github">Github</li>
  <li class="item">or</li>
  <li class="item" id="linkedin">LinkedIn</li>
</ul>

