<%= render "welcome/header" %>

<div id="thanks">Thanks for contacting me, I will be in touch shortly.</div>

<div id="checkout">In the meantime, please feel free to check out my</div>

<!-- <div id="social">
  <div id="github">Github</div>
  <div id="or">or</div>
  <div id="llinkedin">LinkedIn</div>
</div> -->

<ul id="social">
  <li class="item" id="github"><a href="http://github.com/kaxla">Github</a></li>
  <li class="item">or</li>
  <li class="item" id="linkedin"><a href="http://linkedin.com/in/kaylaarianamorrison">LinkedIn</a></li>
</ul>

