<%= render "welcome/header" %>

<div id="thanks">Thanks for contacting me, I will be in touch shortly.</div>

<div id="checkout">In the meantime, please feel free to check out my</div>

<ul id="social">
  <li class="item" id="github"><a href="http://github.com/kaxla">Github</a></li>
  <li class="item">or</li>
  <li class="item" id="linkedin"><a href="http://linkedin.com/in/kaylahowser">LinkedIn</a></li>
</ul>

