<div id='cssmenu'>
  <ul>
    <li><%=link_to 'Home', root_path %></li>
    <li class='active'><a href="/resume">Resume</a></li>
    <li><%=link_to "Projects", projects_path %></li>
    <li><%=link_to "Blog", blogs_path %></li>
    <li class='last'><%=link_to "Contact", new_contact_path %></li>
  </ul>
</div>

<div id="resume">
  <div id="resume-text">
    <div id="resume-title">
      <h1>Resume</h1>
    </div><!--resume-title-->
  <!--Profile-->
    <section class="resume-section">
      <div class="sectionTitle">
        <h2>Profile</h2>
      </div>
      <div class="sectionContent">
        <article>
          <p>I am a Seattle-based full-stack rails developer who recently switched careers.<p>

          <p>I love learning and I learn very quickly. A year ago I didn’t even know what Ruby on Rails was and had not written a line of code since programming my TI-86 to do the quadratic formula for me in high school. I taught myself Ruby using nothing but library books and google and then I got in to Code Fellows where I learned how to write and deploy a functioning Rails app (among other things) in two months.</p>

          <p>I am self-motivated but also work well with others. I enjoy being the member of a team and strive to push myself and others to do the very best work possible and deliver products that are above and beyond what was originally asked for. I have experience working in an Agile environment and am well-versed in using Git for version control and collaboration.</p>

          <p>I am currently looking for a full-time Ruby on Rails developer job in the Seattle area. You can see my code on my github: github.com/kaxla and live versions of my projects below in the "Projects" section.</p>
        </article>
      </div>
    </section>

  <!--Skills -->
    <section class="resume-section">
      <div class="sectionTitle">
        <h2>Skills</h2>
      </div>
      <div class="sectionContent">
        <ul class="keySkills">
          <li class="padded-skills">Ruby</li>
          <li class="padded-skills">Rails</li>
          <li class="padded-skills">Git</li>
          <li class="padded-skills">HTML5/CSS3</li>
          <li class="padded-skills">TDD/BDD</li>
          <li class="padded-skills">Agile Methodologies</li>
          <li class="padded-skills">AWS(intermediate)</li>
          <li class="padded-skills">Javascript (intermediate)</li>
          <li class="padded-skills">Java (beginner)</li>
        </ul>
      </div>
    </section>

  <!--education-->
    <section class="resume-section">
      <div class="sectionTitle">
        <h2>Education</h2>
      </div>
      <div class="sectionContent">
        <article>
          <h3><a href="https://www.codefellows.org/">Code Fellows</a></h3>
            <p class="subDetails2">An intensive Ruby on Rails course designed to turn motivated, intelligent people into rails developers in an 8-week time frame. I was one of 20 students selected from a pool of 300+ applicants based on interviews and technical aptitude.</p>
        </article>
        <article>
          <h3>Bachelor of Arts in International Political Economy</h3>
            <p class="subDetails2">University of Puget Sound</p>
        </article>
      </div>
    </section>

  <!--WORK-->
    <section class="resume-section">
      <div class="sectionTitle"><h2>Work Experience</h2></div>
      <div class="sectionContent">
        <article>
          <h3>Temporary Administrative Specialist II at King County Elections</h3>
          <p class="subDetails">June 2012 - January 2014</p>
            <ul>
              <li class="padded">Performed data entry of voter registration forms</li>
              <li class="padded">Researched voters using licensing records and other sources to fix incorrect records and remove deceased or ineligible voters</li>
              <li class="padded">Communicated with voters about registration, voting, and Washington's laws pertaining to the electoral process over the phone and in person</li>
            </ul>
        </article>

        <article>
          <h3>Data Entry Technician at Molly Brown Temps</h3>
          <p class="subDetails">June 2011 - April 2012</p>
              <ul>
                <li class="padded">Accurately enter customer and account information into Excel spreadsheets and several proprietary databases</li>
              </ul>
        </article>

        <article>
          <h3>Back of House Specialist at Apple</h3>
          <p class="subDetails">January 2010 - June 2011</p>
            <ul>
              <li class="padded">Executed daily and weekly product counts to a high degree of accuracy to ensure accurate product levels</li>
              <li class="padded">Provided excellent customer service and basic troubleshooting help over the phone</li>
            </ul>
        </article>

        <article>
          <h3>Alternative Music Director at KUPS</h3>
          <p class="subDetails">June 2008 - May 2010</p>
            <ul>
              <li class="padded">Interviewed and trained new DJs</li>
              <li class="padded">Communicated with radio promoters about the status of CDs they had sent for review</li>
              <li class="padded">Planned and organized 40th anniversary concert</li>
            </ul>
        </article>

        <article>
          <h3>Marketing Intern at Domino Record Co</h3>
          <p class="subDetails">June-August 2009</p>
            <ul>
              <li class="padded">Interviewed and trained new DJs</li>
              <li class="padded">Communicated with radio promoters about the status of CDs they had sent for review</li>
              <li class="padded">Planned and organized 40th anniversary concert</li>
            </ul>
        </article>

        <article>
          <h3>Radio Intern at Sub Pop Records</h3>
          <p class="subDetails">June-September 2008</p>
            <ul>
              <li class="padded">Prepared and executed mailings to 500+ college and non-comercial radio stations</li>
              <li class="padded">Promoted Sub Pop records over the phone to approximately 20 college radio stations</li>
            </ul>
        </article>
      </div><!--work sectionContent-->
    </section>

    <!--ACHIEVEMENTS-->
    <section class="resume-section">
      <div class="sectionTitle"><h2>Achievements</h2></div>
      <div class="sectionContent">
        <article>
          <p label="achievement-top">Selected to be a panelist on the Music Director Summit at the 2009 College Music Journal conference</p>
          <p label="achievement-bottom">KUPS won the 2009 MTVu Woodie Award for Best College Radio Station</p>
        </article>
      </div><!--achievements sectionContent-->
    </section>
  </div><!--resume-text-->
  <a href="https://s3-us-west-2.amazonaws.com/kaylamorrisonportfolio/portfolio_site_resume.pdf">
    <div id="download">
      Click here to download the 1-page version
    </div>
  </a>
</div><!--resume-->

