
  <div class="header">Projects</div>

  <% @projects = Project.all %>

    <div class="grid">
  <% @projects.each do |project| %>
      <div style="background-image: url(<%= project.project_image.url %>)" class="square">
        <div class="content">
          <div class="inner-content">
              <p><%= project.title %></p>
              <p><%= project.description %></p>
              <p><%= link_to 'Show', project %></p>
          </div><!--inner-content-->
        </div><!--content-->
      </div><!--square-->
  <% end %>
    </div>

