css/*
white: #FAF8F2;
off white: #F8ECC9
grey: #515151
dark pink: #FF847C
light pink: #F0B49E
brown: #A79C8E
*/
* {
  /*border: 1px yellow solid;*/
}
#blogs_title {
  text-align: center;
  padding: 60px 0 30px 0;
  color: #FAF8F2;
  font-size: 40px;
}

.blog_body{
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.blog_body a{
  color:#F0B49E;
}

.blog_body a:hover{
  color: #FF847C;
}


.title{
  font-size: 2em;
}

.date{
  font-size: 1.1em;
  color: #515151;
}

.synopsis{
  margin-left: 40px;
  color: #FAF8F2;
}

.title a{
  color: #F0B49E;
}

.title a:hover{
  color: #FF847C;
}

/*-------------------
SHOW
---------------------*/

#show_date{
  width: 100%;
  margin: 0 auto;
}

.blog_body{
  color: #FAF8F2;
  padding: 20px 40px;
}

.blog_body h3{
  color: #515151;
  font-size: 30px;
  text-align: center;
}

.CodeRay{
  background-color: #FAF8F2;
  padding: 1px 20px;
  overflow: none;
  color: black;
}

#back_link{
  width: 80%;
  margin: 0 auto;
  padding: 0 20px 50px 20px;
}

#back_link a{
  color: #F0B49E;
}

#back_link a:hover{
  color: #FF847C;
}
