

#new_contact {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

#form-main {
  background-color: pink;
  width: 500px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
}

#contact_name {
  background-color: yellow;
  box-shadow: none;
}
