
#project-index{
  width: 670px;
  margin: 0 auto;
  outline: 1px solid black;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
thead{
  width: 670px;
  margin: 0 auto;
}
#project {
  border: 1px solid black;
  display: inline-block;
}
