/*
white: #FAF8F2;
off white: #F8ECC9
grey: #515151
dark pink: #FF847C
light pink: #F0B49E
brown: #A79C8E
*/

html{
    font-family: 'PT Sans', sans-serif;
    background-color: #A79C8E;
}

.header{
  font-size: 40px;
  padding: 40px 0px 20px 0px;
  text-align: center;
  color: #FAF8F2;
}

.square {
  float: left;
  position: relative;
  width: 45%;
  padding-bottom: 45%;
  margin: 1.66%;
  background-color: #F0B49E;
  border-radius: 10px;
}

.square:hover .inner-content{
  opacity: .9;
  transition: all 1s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
}

.content {
  position: absolute;
  height: 80%;
  width: 90%;
  padding: 10% 5%;
  text-align: center;
}

.inner-content{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color:  #FAF8F2;
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  text-decoration: none;
}

.content a {
  text-decoration:none;
}

.inner-content p{
  color: #515151;
}

.grid {
  margin: 0 10%;
}

/*------------------------
Show
------------------------*/

#project-show{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.back a:link, .back a:visited, .back a:hover, .back a:active,  {
    text-decoration:none;
}

.back{
  width: 90px;
  padding: 10px;
  border-radius: 15px;
  background-color: #F8ECC9;
  margin: 20px auto;
  text-decoration: none;
  font-size: 20px;

}

.back:hover {
   background: #F0B49E;
   }







